.wrapper {
    min-width: 80px;
    max-width: 95px;;
    height: 22px;
    border-radius: 11px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}