.App{
  display: grid;
  grid-template-areas: 'nav head' 'nav con' ;
  grid-template-columns: 95px 1fr;
  grid-template-rows: 65px 1fr;
  width: 1600px;
  height: 730px;
}

.navigation{
  height: 100%;
  grid-area: nav;
  background-color: #002137;
}

.header{
  grid-area: head;
  filter: drop-shadow(0 0 3.5px rgba(0,0,0,0.2));
  background-color: #d1e0ed;
}

.content{
  grid-area: con;
  height: 665px;
}

